@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

/************************ IHM Cuisinier ************************/

 #sectionCuisine{
    color: whitesmoke;
    font-family: 'Changa', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 5px 255px;
    border-bottom-right-radius: 225px 5px;
    border-top-left-radius: 255px 5px;
    border-top-right-radius: 5px 225px;
}

.articleCommande {
  margin: 40px;
  background-color: #201e20;
  border-radius: 5px;
}

.column-layout {
  display: table;
  width: 99%;
  border-collapse: separate;
  margin: 9px;
}

.column-layout > .nbBurger, .heurePrepa {
  display: table-cell;
  text-align: center;
  border: solid;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 47%;
  border-radius: 20px;
}

.cmdNum {
    text-align: center;
    color : #e0a96d;
}

.burgerAFaire {
  border: solid;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
}

.nBurger, .hDispo {
  color : #e0a96d;
}

.apercuCmd {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 5px;
  
}
.apercuCmd2 {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nom {
  color: #e0a96d;
}

.cmdFinie {   
  width: 99%;
  font-family: 'Changa', sans-serif;
  align-self: center;
  background-color: #e0a96d;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  margin: 10px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cmdFinie:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.cmdFinie:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/************************ Fin IHM Cuisinier ************************/