@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");



/*
Couleur fond(gris clair):  (229, 225, 222)
Couleur fond2(noir-gris):  (40, 40, 40)
Couleur font: noir ou blanc

*/


html {
  -ms-text-size-adjust: 100%;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
section {
  margin: 0% 5%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

main {
  display: block;
}
b,
strong {
  font-weight: inherit;
}
button {
  overflow: visible;
}

input {
  overflow: visible;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(42, 41, 39, 0);
}
/*
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.table-step{
  width: 100%;
}*/

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  background: linear-gradient(to right,#e0a96d,#ddc3a5,#ddc3a5,#e0a96d);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl,
ol,
ul {
  margin-top: 0;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  color: #e54315;
  background-color: transparent;
}
a:hover {
  color: #9f2e0f;
  text-decoration: underline;
}

img {
  border-style: none;
}
/*SideBar*/
.sidebar {
  height: 100%;
  width: 200px;
  color: white;
  background-color: rgb(40, 40, 40);
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  width: 200px;
  left: 0;
  display: none;
}
.bar-item {
  padding: 8px 16px;
  width: auto;
  border: none;
  display: inline;
  outline: 0;
}
.button {
  border: none;
  display: inline-block;
  padding: 12px 20px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  background-color: rgb(40, 40, 40);
}
#content {
  color: white;
}
.img-fluid {
  /*flex*/
  margin-top: 0px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.map {
  margin-left: 5%;
  margin-top: 5%;
  height: 800px;
  width: 90%;
  color: #000;
}

.cmd-selected {
  background: rgb(255, 0, 0);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.h1,
h1 {
  font-size: 32px;
}
.h2,
h2 {
  font-size: 24px;
}
.h3,
h3 {
  font-size: 18.72px;
}

.h4,
h4 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 13.28px;
}
.h6,
h6 {
  font-size: 10.72px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.table {
  width: 100%;

}

.table-header {

  display: flex;
  font-weight: bold;
  width: 100%;
  background: rgb(70, 70, 70);
  padding: (12px * 1.5) 0;

}

.table-row {
  display: flex;
  width: 100%;
  font-weight: bold;
  padding: (12px * 1.5) 0;
  color: black;
  background: #bbbbbb;
}
.table-row:nth-of-type(odd) {
  background: #888888;
}

.table-data,
.header__item {
  flex:  1 1 20%;
  text-align: center;
}
.table-data{
  border: #000000 solid 1px;
}
.header__item {
  text-transform: uppercase;
  border: #000000 solid 1px;
  padding: 15px 0px;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}

.filter__link::after {
  content: "";
  position: absolute;
  right: -(12px * 1.5);
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.filter__link.desc::after {
  content: "(desc)";
}

.filter__link.asc::after {
  content: "(asc)";
}

.text-center {
  text-align: center !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.noFloat {
  float: none;
}
.clear {
  clear: both;
}
.burger-viande-selected,
.pain-selected,
.burger-sauce-selected,
.burger-supplement-selected,
.boisson-selected {
  color: rgb(255, 255, 255);
  background-color: rgb(192, 68, 19);
  border-radius: 15%;
}

.panier_fermee {
  display: block;
  position: fixed;
  top: 80px;
  right: 0;
  width: 30px;
  height: 170px;
  border: 3px solid #2a4207;
  background: rgba(95, 95, 95);
}
.panier_ouvert {
  display: block;
  position: fixed;
  border: 3px solid #73ad21;
  top: 80px;
  right: 0;
  width: 300px;
  height: 550px;
  background: rgba(95, 95, 95);
}
.column3 {
  float: left;
  width: 33.33%;
}
.half {
  width: 45%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a span {
  position: absolute;
  margin-top: 23px;
  margin-left: -35px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-12deg);
  opacity: 0;
}

a:hover span,
a:focus span {
  transform: scale(1) rotate(0);
  opacity: 1;
}

/* IHM Cuisinier */

 #sectionCuisine{
    color: whitesmoke;
    font-family: 'Changa', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 5px 255px;
    border-bottom-right-radius: 225px 5px;
    border-top-left-radius: 255px 5px;
    border-top-right-radius: 5px 225px;
}

.articleCommande {
  margin: 40px;
  background-color: #201e20;
}

.column-layout {
  display: table;
  width: 99%;
  border-collapse: separate;
  margin: 9px;
}

.column-layout > .nbBurger, .heurePrepa {
  display: table-cell;
  text-align: center;
  border: solid;
  padding: 10px;
  width: 47%;
  border-bottom-left-radius: 20px 255px;
    border-bottom-right-radius: 225px 20px;
    border-top-left-radius: 255px 20px;
    border-top-right-radius: 20px 225px;
}

.cmdNum {
    text-align: center;
    color : #e0a96d;
}

.burgerAFaire {
  border: solid;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom-left-radius: 5px 255px;
  border-bottom-right-radius: 225px 5px;
  border-top-left-radius: 255px 5px;
  border-top-right-radius: 5px 225px;
}

.nBurger, .hDispo {
  color : #e0a96d;
}

.apercuCmd {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 5px;
  
}
.apercuCmd2 {
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nom {
  color: #e0a96d;
}

.cmdFinie {   
  width: 99%;
  font-family: 'Changa', sans-serif;
  align-self: center;
  background-color: #e0a96d;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  margin: 10px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 20px 255px;
  border-bottom-right-radius: 225px 20px;
  border-top-left-radius: 255px 20px;
  border-top-right-radius: 20px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cmdFinie:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.cmdFinie:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/*Fin IHM Cuisinier*/

/* IHM Livreur */
/*Fin IHM Livreur*/

/*---------A modifier-------------*/

.card {
  border: #000000 solid 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 250px;
  float: left;
  margin: 3%;
}
.imgFormatPdp {
  width: 100%;
  /*max-width: 250px;*/
  min-width: 250px;
  max-height: 250px;
  min-height: 250px;

}
.large {
  font-size: 25px;
}
.description {
  width: 80%;
  margin: 0% 10%;
}
.titre{
  margin: 0% 10%;

}

/*air):  (229, 225, 222)
Couleur fond2(noir-gris):  (40, 40, 40)
Couleur font: noir ou blanc*/
.footer {
  padding:40px 0;
  background-color:rgb(229, 225, 222);
  color:#4b4c4d;
  position: absolute; 
  bottom: 0;
  width: 100%;
}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer li {
  padding:0 10px;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer ul a:hover {
  opacity:1;
}

.footer .social {
  text-align:center;
  padding-bottom:25px;
}

.footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer .social > a:hover {
  opacity:0.9;
}

.footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* IHM Commande */
/*Fin IHM Commande*/

/* IHM Gérant */
.column2{
  width: 50.00%;
  float: left;
}

.column4{
  width: 25.00%;
  float: left;
}

.boutonMenuGerant {
  width: 100px;
  height: 50px;

}

.debug {
  border: 1px solid red;
}

.bonCompact{
  border: 2px solid black;
  background-color: white;
}
/* Fin IHM Gérant */ 

/* IHM Panier */

#bordure1{
  border: solid 3px black;
  padding: 2%;
}
.bordure2{
  border: double 3px black;
  padding: 1%;
  margin: 2%;
}

#piedPage {
  margin: auto;
  padding: 15px;
  max-width: auto;
  /*Adaptation du texte*/     
  padding: 50px 25px;
  background-color: gray;
  text-align: center;
}

.espaceTxt{
  margin-right: 15px;
}

/*Fin IHM Panier*/

/* IHM Stats */

#chartContainer {
  width: 65%;
  height: 50%;
  margin: 5%;
  margin-left: 0%;
  background-color: rgb(240, 40, 40);
}

.Choix {
  width: 25%;
  height: 10%;
  margin: 5%;
  margin-right: 0%;
  float: none;
}

.cat {
  margin-top: 20%;
}

/*Fin IHM Stats*/

/* IHM Ajout ingrédients */
/*Fin IHM Ajout ingrédients*/

/* IHM Ajout stocks */
/*Fin IHM Ajout stocks*/

/* IHM Stocks */
/*Fin IHM Stocks*/

/* IHM Inventaire */
/*Fin IHM Inventaire*/

/* IHM Bon de commande */
/*Fin IHM Bon de commande*/

/* IHM Passer commande */
/*Fin IHM Passer commande*/

/* Header */

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

/*
headeer top
*/
.topbar{
background-color: #212529;
padding: 0;
}

.topbar .container .row {
margin:-7px;
padding:0;
}

.topbar .container .row .col-md-12 { 
padding:0;
}

.topbar p{
margin:0;
display:inline-block;
font-size: 13px;
color: #f1f6ff;
}

.topbar p > i{
margin-right:5px;
}
.topbar p:last-child{
text-align:right;
} 

header .navbar {
  margin-bottom: 0;
}

.topbar li.topbar {
  display: inline;
  padding-right: 18px;
  line-height: 52px;
  transition: all .3s linear;
}

.topbar li.topbar:hover {
  color: #1bbde8;
}

.topbar ul.info i {
  color: #131313;
  font-style: normal;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.topbar ul.info li {
  float: right;
  padding-left: 30px;
  color: #ffffff;
  font-size: 13px;
  line-height: 44px;
}

.topbar ul.info i span {
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 18px;
}

ul.social-network {
border:none;
margin:0;
padding:0;
}

ul.social-network li {
border:none;  
margin:0;
}

ul.social-network li i {
margin:0;
}

ul.social-network li {
  display:inline;
  margin: 0 5px;
  border: 0px solid #2D2D2D;
  padding: 5px 0 0;
  width: 32px;
  display: inline-block;
  text-align: center;
  height: 32px;
  vertical-align: baseline;
  color: #000;
}

ul.social-network {
list-style: none;
margin: 5px 0 10px -25px;
float: right;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: .3s ease-out;
  color: #fff;
}
a {
color: #0a0a0a;
text-decoration: none;
}

li {
  list-style-type: none;
}
.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.bg-dark {
  background-color: #222!important;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #ddc3a5 48%, #1b1e21 48%);
  background: -webkit-linear-gradient(left, #ddc3a5 48%, #1b1e21 48%);
  background: linear-gradient(45deg, #ddc3a5 48%, #1b1e21 48%);
}

.imgNavbar{
  width: 75px;
  height: 75px;
}

.fixed-top{
  margin-bottom: 100px;
}

/* Footer */
.footer-basic {
  padding:40px 0;
  background-color:#201e20;
  color:#e0a96d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #e0a96d;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#e0a96d;
  margin-bottom:0;
}
.list-inline-item{
  display: inline;
}

/*--------------lilian--------------*/
#tabfournisseur{
  height: 700px;
  margin-left: 10%;
  margin-right: 10%;
  overflow:auto;
}

.cacher{
  display: none;
}

.roww{
  margin-left: -15px;
}

.roww:after {
  content: "";
  display: table;
  clear: both;
}

.cat {
  margin-top: 20%;
}

.centrer {
  margin-left: 37%;
  margin-top: 80px;
  margin-bottom: 30px;
}

.inputImage a :hover{
background-color: #e54315;
}

.sign-up-modal {
    font-family: "Roboto", arial, sans-serif;
    color: #ffffff;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    background-image: -moz-linear-gradient(-90deg, rgb(92, 92, 92) 0%, rgb(155, 155, 155) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(92, 92, 92) 0%, rgb(155, 155, 155) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(92, 92, 92) 0%, rrgb(155, 155, 155) 100%);
    margin: 0 auto;
    padding: 25px;
}

label {
    display: block;
    width: 150px;
    float: left;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px;
    
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5f5f5f;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.colone{
  width: 27%;
  height: 100px;
}

.block_Menu {
  height: 700px;
  position: relative;
  margin-right: 3%;
  float: left;
  width: 28%;
  min-width: 20%;
}

.sous_block_Menu {
  width: 100%;
  background: #ddc3a5;
  height: 15%;
  position: absolute;
  bottom: 5%;
}

.BoutonAccueil{
  width: 100%;
  height: 100%;
}

#div_stat {
  background-image: url(../img/Stat.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
#div_Stocks {
  background-image: url(../img/Stocks.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
#div_Recettes {
  background-image: url(../img/Recettes.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.center-div {
  margin: 0 auto;
  width: 99%;
}
/*--------------Fin lilian--------------*/

.borderred {
  border: red solid 1px
}

.half {
  width: 45%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a span {
  position: absolute;
  margin-top: 23px;
  margin-left: -35px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transform: scale(0) rotate(-12deg);
  opacity: 0;
}

a:hover span,
a:focus span {
  transform: scale(1) rotate(0);
  opacity: 1;
}





.container_test {
  position: relative;
}

.qty_selector {
  position: absolute;
  width: 20%;
  font-size: 20px;
  top: 0px;
  right: 0px;
  border: 1px solid black;

}

/*air):  (229, 225, 222)
Couleur fond2(noir-gris):  (40, 40, 40)
Couleur font: noir ou blanc*/

/*------------Modif2---------*/
.select_livreur {
  margin-top: 3%;
  margin-right: 3%;
  padding: 20px;
}



/*--------------------*/
.inputGroup {
  background-color: rgb(130, 130, 130);
  display: block;
  margin: 10px 0;
  width: 300px;
  position: relative;
  /*left: 40%;*/
  color: #000;

}

.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  /*color: #3c454c;*/
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: rgb(40, 40, 40);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.mediumWidth label:after {
  right: 80px;
}

.inputGroup input:checked~label {
  color: #fff;
}

.inputGroup input:checked~label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked~label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.item {
  background-color: white;
  margin: 20px;
  display: flex;
  cursor: pointer;
  transition: 0.3s all;
  width: 75%;
}

.item:hover {
  transform: scale(1.1);
  transition: 0.3s all;
}

.item:hover {
  transition: 0.3s all;
  box-shadow: -8px 8px 2px 1px rgba(0, 0, 0, .1);
}

.item-infos {
  padding: 20px;
  line-height: 40px;
}

.item-infos h3 {
  font-size: 25px;
}

.item-infos hr {
  margin: 10px 0 10px 0;
  opacity: 0.5;
}

.imgpanier {
  float: right;
  margin-left: auto;
  margin-right: 1%;
  margin-top: auto;
  width: 75px;
  height: 75px;
}

.bg-image-full {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-dark {
  background-color: #222 !important;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #ddc3a5 48%, #1b1e21 48%);
  background: -webkit-linear-gradient(left, #ddc3a5 48%, #1b1e21 48%);
  background: linear-gradient(45deg, #ddc3a5 48%, #1b1e21 48%);
}

.imgNavbar {
  width: 75px;
}
/* RESPONSIVE */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
